*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 68%;
    background-color: hsl(180, 85%, 44%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("Amazon.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/** box2 **/
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/** box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.Search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.Search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

/** box4 **/
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85;
    font-weight: 700;
}

/** box6 **/
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/** panel **/
.panel{
    height: 40px;
    background-color: brown;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all:hover {
    border: 2px solid white;
}


.panel-obs p {
    display: inline;
    margin-left: 15px;
}

.panel-obs {
    width: 70%;
    font-size: 0.85rem;
    
}

.panel-Deals {
    font-size: 0.9rem;
    font-weight: 700;
}



/** hero section **/
.hero-section {
    background-image: url("amazon\ hero1.jpg");
    background-size: cover;
    height: 300px;
}

/** shop section **/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: hsla(60, 79%, 47%, 0.367);
}

.box {
    border: 2px solid black;
    height: 390px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img {
    height: 300px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
}

/** footer  **/
footer {
    margin-top: 15px;
}

 
.foot-panel {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}


.foot-panel3 {
    background-color: #222f3d;
    color: #300c66;
    border-top: 0.5px solid hsl(274, 90%, 30%);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("Amazon.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    justify-content: center;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    font-size: 0.7rem;
   
}

.copyright {
    padding-top: 5px;
  
}

.sidebar {
    background-color: white;
    width: 300px;
    height: 100%;
    transition: all 0.5s;
    height: 100%;
    position: absolute;
    z-index: 101;
    overflow-y: scroll;
    box-shadow: 2px 2px 30px black;
}

.hdn-head{
    background-color: #232f3e;
    height: 60px;
    width: 100%;
    color: #cccccc;
    text-align: center;
}
.hdn-head h2{
    line-height: 60px;
}
.hdn-content h3{
    padding: 20px 25px;
    color: rgb(39,39,39);
}
.hdn-content ul div{
    display: flex;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 14px;
    color: rgb(70,70,70);
    justify-content: space-between;
}
.fa-xmark {
    top: 10px;
    left: 400px;
    position: absolute;
    font-size: 30px;
    z-index: 101;
}

.fa-angle-right {
    color: rgb(27,27,27);
}

.hdn-content ul div:hover {
    background-color: white;
}

.hdn-content ul {
    padding-bottom: 9px;
}

.black {
    position: absolute;
    width: 0%;
    height: 100%;
    z-index: 100;
    background-color: white;
} 

 
 